<h1>Photos</h1>

<table class="responsive nowrap table table-hover" id="dttb-photos" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="id" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      <th data-data="title" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      <th data-data="created_at" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
