<h1>Locations</h1>

<table class="responsive nowrap table table-hover" id="dttb-locations" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="locate">Locate</th>
      <th data-data="description">Description</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Location', new_location_path %>