<div class="row">
  <div class="col-md-offset-4"><h3>Danh sách địa điểm quản lý</h3></div>
</div>
<hr>
<div class="row">
  <div class="col-md-offset-1" id="locations">
    <%= render partial: "locations/locations", locals: {locations: @locations} %>
  </div>
</div>
<hr>
<%= link_to 'Thêm Mới', new_location_path, class: "btn btn-primary", remote: true %>
