<div class="row">
  <div class="col-md-offset-4"><h2>Thông tin chi tiểt địa điểm</h2></div>
  <hr>
</div>
<div class="row">
  <%= render @location %>
  <div class="col-md-8">
    <div class="col-md-offset-4"><h3>Danh sách cameras</h3></div>
    <hr>
    <div class="row" id="cameras">
      <%= render partial: "cameras/cameras", locals: { cameras: @cameras, location: @location } %>
    </div>
    <div class="row">
      <%= link_to "Thêm camera cho địa điểm này", new_location_camera_path(@location), html_options={class: "btn btn-primary", remote: true} %>
    </div>
  </div>
</div>
